.card {
  max-width: 325px;
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0.5rem;
}

.imgWrapper{
  width: 100%;
  height: 240px;
  background-image: url("/images/image-header-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.imgWrapper::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(111 0 173);
  opacity: 50%;
  z-index: 2;
}

.data {
  padding: 20px 35px;
  text-align: center;
}

.data h1 {
  font-size: 1.8rem;
}

.data p {
  line-height: 1.7rem;
  font-weight: 400;
  opacity: 75%;
}
.card span {
  color: var(--soft-violet);
  font-weight: 700;
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats h2 {
  margin: 0;
}

.stats h3 {
  margin: 0.5rem 0;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 60%;
}

.stat {
  margin: 1.2rem;
}


/* Media Query */

@media (min-width: 900px) {
  .card {
    flex-direction: row-reverse;
    max-width: 1110px;
    height: 445px;
    margin: 10rem 1rem;
  }
  .imgWrapper {
    background-image: url("/images/image-header-desktop.jpg");
    height: 100%;
    flex: 1 1 50%;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 50%;
    text-align: left;
    padding: 80px 75px;
  }
  .stats {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .stat {
    text-align: left;
    margin: 0;
  }
}